#game-grid {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}

#left-panel {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: span 2;
  gap: 2rem;
  padding: 1.5rem;
  border-right: 0.4rem solid var(--ridge-color);
}
