#game-status {
  grid-column: 3;
  grid-row: span 2;
  justify-self: flex-end;
  border-left: 4px solid var(--ridge-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#music {
  padding: 1rem;
}

#music-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

audio {
  width: 100%;
}

audio::-webkit-media-controls-panel {
  background-color: var(--ridge-color);
}

#music-link {
  line-height: 2;
}

#music h4 {
  line-height: 2;
}

#music a {
  color: var(--primary);
}
