#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 8rem;
  gap: 2rem;
}

#welcome h1 {
  text-align: center;
  line-height: 3rem;
}

#welcome-content img {
  width: 300px;
  border-radius: 10%;
  border: 3px solid black;
}

#welcome-content {
  display: flex;
  align-items: center;
  gap: 2rem;
  line-height: 1.2rem;
}
