#main-container {
  width: 80%;
  margin: 2rem 0;
  max-width: 1100px;
}

#main-container h1 {
  margin-bottom: 2rem;
  text-align: center;
  color: white;
}

#app {
  height: 90%;
  overflow-y: auto;
  background-color: var(--game-background);
  box-shadow: 0.75rem 0 var(--ridge-color), -0.75rem 0 var(--ridge-color), 0 -0.75rem var(--ridge-color),
    0 0.75rem var(--ridge-color);
}
